.pictures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
}

.text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.text > span {
color: white;
font: bold 24px/45px Helvetica, Sans-Serif;
letter-spacing: -1px;
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.7);
padding: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  padding: 5px;
  width: 800px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
}

.img {
  width: 800px;
  height: 500px;
}

.button-left {
position: absolute;
background: rgba(0,0,0,0.75);
color: #d42828;
padding: 10px 20px;
margin-left: -368px;
}

.button-right {
  position: absolute;
  background: rgba(0,0,0,0.75);
  color: #d42828;
  padding: 10px 20px;
  margin-left: 369px;
}
