html {
  height: 100%
}

input[type=text], input[type=password] {
  width: 90%;
  padding: 10px;
  margin: 8px;
  display: flex;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* ModalBox */
.modal {
  display: none; /* Hide */
  z-index: 1;
  left: 0;
  top: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* opacity */
  padding-top: 60px; /* Ändra beroende på skelett*/
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% top, 15% bottom, centrerad */
  border: 1px solid #888;
  width: 40%;
  height: 100%;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.inputcontainer > label {
  font-family: 'Pacifico', 'Open Sans', sans-serif;

}

#unameinput, #pswinput {
  text-align: center;
}

.lgcontainer {
  display: flex;
  flex-direction: column;
}

#loginbutton {
  font-size: 15px;
  margin: 8px;
  background-color: #D3D3D3;
}

#errortxt {
  display: none; /* Hide by default */
  color: red;
  font-family: 'Open Sans', sans-serif;
  margin: 8px auto 12px auto;
  font-size: 12px;
}
