
.drop>div:first-child {
  height: 160px;
}

.adminClass {
  color: white;
  padding: 5px 0 10px 0;
  text-align: center;
}

.dark-purple {
  background: #6A1B9A;
}

.purple {
  background: #8E24AA;
}

.card ol>li:nth-child(odd) {
  background: #7c1f94;
}