
.hiddenCard {
  width: auto;
  height: auto;
  margin: 0 10px;
  flex-direction: column;
	padding: 0 15px;
}

.hiddenCard>h3 {
  text-align: center;
}

.hiddenCard>p {
  padding: 10px 10px 0 10px;
}

.title {
	color: #fff;
	text-align: center;
	margin: 10px 0 10px 10px;
	padding: 15px 0 15px 0;
}

.title2 {
	color: #fff;
	text-align: center;
	margin: 20px 10px 10px 10px;
	padding: 15px;
}

div > main > h2 {
	text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px black;
	margin-bottom: 50px;
}

/*----------------------------BUTTON---------------------------------------*/

.hiddenBut {
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  color: white;
  padding: 8px 14px;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #ff5f52;
  text-transform: uppercase;
  display: none;
}

.hiddenBut:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

.hiddenBut:hover {
  background-color: ##8e0000;
}

/* remove blue outline on the button after you clicked */

.hiddenBut:focus {
  outline: none;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.hiddenBut:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

/*-----------------------Button-ends-----------------------------------*/

::-webkit-input[type='submit'] {
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: white;
  padding: 8px 14px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  text-transform: uppercase;
  background-color: #ff5f52;
  border: none;
}