
.hiddenCard {
  margin: 5px auto;
  width: auto;
  height: 0px;
  flex-direction: column;
}

.hiddenCard>p {
  padding: 10px;
}

div > main > h2 {
	text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px black;
	margin-bottom: 50px;
}

.hiddenCard > table,
.examfirstrow > th,
.hiddenCard > table > tbody > tr > td {
    border:2px inset transparent;
    border-collapse:collapse;
}

.firstcardcolumn > div > div > div.card-bottom,
.secondcardcolumn > div > div > div.card-bottom {
  margin-top: 0;
}
