
.hiddenCard {
  width: auto;
  height: 0px;
  flex-direction: column;
}

.hiddenCard>p {
  padding: 10px;
}

.title {
	color: #fff;
	margin: 10px 0 10px 10px;
	padding: 15px 0 15px 0;
}

.title2 {
	color: #fff;
	text-align: center;
	margin: 20px 10px 10px 10px;
	padding: 15px;
}

div > main > h2 {
	text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px black;
	margin-bottom: 50px;
}
