.att-container {
  width: 60%;
  overflow: hidden;
}

.attendance {
  display: flex;
  justify-content: space-around;
  border-radius: 2px;
  margin-right: 0;
}

.attendance p{
  padding-left: 5px;
  text-overflow: ellipsis;
}


.att-square {
  width: 14px;
  height: 18px;
  margin: 0 auto;
  padding: 1px;
  background-color: #c62828;
  border: solid 1px #818181;
  border-radius: 2px;
  cursor: pointer;
}

.att-row>div {
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
}

.att-row>div:nth-child(even) {
  background-color: #e8e8e8;
}

.att-row>div:nth-child(odd) {
  background-color: #fafafa;
}

.att-row {
  width: 100%;
}

.att-names>div {
  text-align: left;
}

.att-names {
  width: 150%;
}


.attendance>.att-row>.att-header {
  color: white;
  padding: 0 15px;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Roboto';
  background: black;
  width: 100%;
  padding: 15px 0;
}

@media (max-width: 900px) {
  .att-row>div {
    font-size: 12px;
  }
  .att-names {
    width: 300%;
  }
  .att-square {
    width: 8px;
    height: 13px;
  }
  .att-container {
    width: 100%;
  }
}
