
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  width: auto;
  height: auto;
  margin: 20px;
  border-radius: 2px;
  flex-wrap: wrap;
}

.cardcontainer {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  width: 350px;
}

.card-img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.card-heading {
  color: #fff;
}

.card6-heading {
  color: #fff;
  margin-top: 15px;
  margin-left: 10px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  padding: 4px;
  transition-duration: 0.8s;
}



/*--------------------  card 0 närvaro  ---------------------- */


        #card-body {
          display: inline-flex;
          background: #111111;
        }

/*  ----------------  card 0 -end ------------------------*/




/*----------------  card 1  ---------------------- */

      #card-top-1 {
        background: #6A1B9A;
      }

      #card-body-1 {
        background: #8E24AA;
      }

/*  --------------  card 1 -end ---------------------*/



/*  ---------------- card 2 ------------------------ */

    #card-top-2 {
      background: #C51162;
    }

    #card-body-2 {
      background: #880E4F;
    }

/*  ------------------- card 2 -end -----------------------------  */



/*  ---------------- card 3 ------------------------ */

    #card-top-3 {
      background: #1B5E20;
    }

    #card-body-3 {
      background: #8BC34A;
    }

/*  ------------------- card 3 -end  -----------------------------  */



/*  ---------------- card 4 ------------------------ */

    #card-top-4 {
      background: #FF8A65;
    }

    #card-body-4 {
      background: #FF5722;
    }

/*  ------------------- card 4 -end -----------------------------  */



/*  ---------------- card 5 ------------------------ */

    #card-top-5 {
      background: #9FA8DA;
    }

    #card-body-5 {
      background: #3F51B5;
    }

/*  ------------------- card 5 -end -----------------------------  */



/*  ---------------- card 6 ------------------------ */

    #card-top-6 {
      background: #90A4AE;
    }

    #card-body-6 {
      background: #455A64;
    }

/*  ------------------- card 6 -end -----------------------------  */


/*  ---------------- card 7 ------------------------ */

    #card-top-7 {
      background: rgb(236, 20, 200);
    }

    #card-body-7 {
      background: rgb(146, 19, 127);
    }

/*  ------------------- card 7 -end -----------------------------  */



.box>.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-list {
  text-align: left;
  margin: 10px;
  list-style-position: inside;
  list-style: none;
}

.card-list>li>a, h3>a, .expand>li>a {
  color: white;
  text-decoration: none;
}

.card-body>p {
  padding: 10px 10px 0 10px;
}

.card-header {
  display: flex;
  justify-content: center;
  background-color: #c62828;
  margin: 0 0 10px 0;
}

.card-body {
  width: auto;
  height: auto;
  margin: 10px;
	padding: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.card-body>h3 {
  text-align: center;
}

.card-body-text {
  text-align: left;
}

.card-bottom {
  display: flex;
  height: auto;
  margin: 10px;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}

.expand {
	flex-direction: column;
}

.attendancetitle {
	flex-grow: 1;
	color: #fff;
	text-align: center;
	margin: 10px;
	margin: 35px 0 10px 0;
}

#att-card-img1 {
	flex-grow: 1;
  width: 100px;
  height: 100px;
	display: block;
}

#att-card-img2 {
	flex-grow: 1;
  width: 100px;
  height: 100px;
	display: none;
}

#hidebody {
	display: block;
	position: relative;
	max-height: 350px;
	height: 236px;
	overflow: hidden;
  transition: height 1s;
  transition-delay: 0.6s;
}

#att-box {
  display: flex;
  justify-content: center;
}

#attcard {
	background-color: #fff;
}

#att-bottom {
  display: flex;
  height: auto;
  margin: 10px;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

#attsbutton {
  position: absolute;
  top: 195px;
  right: 38%;
}

/*-----------------------------Countdown--------------------------------*/

#timer {
	font-weight: bold;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.countdown {
  position: relative;
  margin: auto;
  margin-top: 10px;
  height: 50px;
  width: 100px;
  text-align: center;
}

.countdown > svg {
  position: absolute;
  top: -20px;
  right: 0;
  width: 100px;
  height: 100px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.countdown > svg > circle {
  stroke-dasharray: 220px;
  stroke-dashoffset: 0px;
  /*stroke-linecap: round;*/
  stroke-width: 10px;
  stroke: #ff5f52;
  fill: transparent;
  animation: countdown 900s linear;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 220px;
  }
}

/*-------------------------Countdown-ends-------------------------------*/

#codeInput {
  width: 86%;
}

#attOnSend {
  display: none;
}

#dfbbutton {
  justify-content: center;
}

#dfbbox {
  display: none;
}

#answerOnSend {
  display: none;
}

#feedbacktext {
  font-size: 20px;
  vertical-align: middle;
  font-family: 'Pacifico', 'Open Sans', sans-serif;
}

.boxstyle {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.dfbform {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inputcontainer>label {
  font-family: 'Pacifico', 'Open Sans', sans-serif;
}

.inputcontainer>p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 15px;
}

.bottomsection {
  display: flex;
  flex-direction: column;
  margin: 8px;
  align-items: center;
}

/* #attendance {
  background-color: #FF4D32;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  color: #F5F5F5
} the red cross button */

/* basic stylings ------------------------------------------ */

/*.container {
  font-family: 'Roboto';
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #FFF;
  padding: 10px 50px 50px;
}*/

h2 {
  text-align: center;
  margin-bottom: 50px;
}

h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}

.footer {
  text-align: center;
}

.footer a {
  color: #53B2C8;
}

/* form starting stylings ------------------------------- */

.group {
  position: relative;
  margin-bottom: 45px;
}

/* Input styling related to närvaro add [type=text] avoid conflicts */

input[type=text] {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 86%;
  border: none;
  background: none;
}

input[type=text]::-webkit-input-placeholder {
  text-align: left;
}

input[type=text]:focus {
  outline: none;
}

/* LABEL ======================================= */

/* label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
} */

/* active state */

input[type=text]:focus~label, input:valid~label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 300px;
  border-bottom:1px solid #757575;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state adding [type=text] so that it doesnt collide with Elink work */

input[type=text]:focus~.bar:before, input[type=text]:focus~.bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */

input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ---------- styling for the radio buttons dagens feedback modal */

input[type=radio] {
  position: relative;
}

input[type=radio]:before {
  border: 3px solid #ccc;
  border-radius: 100%;
  content: "";
  cursor: pointer;
  display: block;
  height: 15px;
  position: absolute;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 15px;
  z-index: 1;
}

input[type="radio"]:checked:before {
  -moz-transform: scale(.75);
  -ms-transform: scale(.75);
  -o-transform: scale(.75);
  -webkit-transform: scale(.75);
  transform: scale(.75);
  background: #9c27b0;
}

input[type="radio"]:after {
  background: #fff;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 0;
  width: 15px;
  z-index: 0;
}

/*Teacherstyle*/
.editnav {
	display: flex;
}

.asidebarbox {
	margin: 0 auto;
}

#form-img-1 {
  width: 100px;
  height: 100px;
  padding: 10px 0 10px 10px;
	margin-left: 40px;
}
/*----*/
#assign {
  list-style-type: none;
}
#assign>li {
  display: inline;
}

#assignments {
  margin: 10px 0;
  padding: 5px;
  background-color: #fafafa;
  border: none;
  border-radius: 2px;
  width: 255px;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  /* text-transform: uppercase; */
}

/* .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
  overflow: hidden;
  text-align: right;
	position: absolute;
  z-index: -1;
  color: white;
}

.inputfile + label {
  cursor: pointer;
  margin-top: 100px;
  font-family: 'Roboto';
  font-size: 1.25em;
  font-weight: 500;
  color: white;
  padding: 8px 14px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  text-transform: uppercase;
  background-color: #ff5f52;
}

.inputfile + label:visited {
  color: #fff;
} */

::-webkit-file-upload-button {
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: white;
  padding: 8px 14px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  text-transform: uppercase;
  background-color: #ff5f52;
  border: none;
}
