
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1280px;
  margin: 0 auto;
}

.box > h1 {
  display: flex;
  justify-content: center;
  flex: 100%;
}

.card {
	display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  width: auto;
  height: auto;
  margin: 20px;
  border-radius: 2px;
	flex-wrap: wrap;
  /*border: solid 0.5px grey;*/
}

.cardcontainer {
	display: flex;
	width: auto;
	height: auto;
	flex-direction: column;
	min-width: 250px;
	min-height: 180px;
	/*align-items: center;*/
}

.card-img-top {
	width: 50px;
	height: 50px;
	right: auto;
}

.box > .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardcontainer > h2 {
  text-align: center;
  text-decoration: underline #777A68;
  margin: 10px;
}

.card-list {
	text-align: center;
  margin: 10px;
  list-style-position: inside;
	list-style: none;
}
/*.cardcontainer > ul {
  text-align: center;
  margin: 10px;
  list-style-position: inside;
	list-style: none;
}*/

#dfbbutton {
  margin: 50px;
}

.cardbutton {
}

.card-body {
	width: auto;
	height: auto;
	margin: 10px;
	border: 1px solid red;
}

.card-bottom {
	height: auto;
	margin: 10px;
	border: 1px solid pink;
	bottom: 0;
}
