
.loginbutton {
  background-color: #c62828;
  border: solid 1px #8e0000;
}

.loginbutton:hover {
  background-color: #8e0000;
}

header {
  background-color: #fff;
}

.footer {
  background-color: #fff;
  padding-top: 60px;
  position: relative;
}

.footer>p {
  position: absolute;
  bottom: 0;
  right: 10px;
  color: #111111;
}

.footer>p2 {
  position: absolute;
  bottom: 25px;
  right: 10px;
  color: #111111;
}
