#completed_main {
  border: none;
}

#completed_table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
}

#completed_table>td, th {
  text-align: left;
  border: 1px solid black;
}

.uppgift {
  margin-left: 10px;
}

.kurs {
  background-color: #d3d3d3;
}

.text-center {
  text-align: center;
  margin-bottom: 40px;
}

.td3 {
	width: 40px;
	height: 35px;
}
