#containercourse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  width: 30%;
    padding: 10px;
}

.btg {
  list-style-type: none;
}

