#containercourse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box {
  width: 30%;
    padding: 10px;
}

.btg {
  list-style-type: none;
}

.border-900 {
  width: 900px;
  height:auto;
}
