#smileyfaces {
  display: flex;
  justify-content: space-between;
  width: 270px;
  height: 70px;
  transition: height 1s;
  transition-delay: 0.6s;
  overflow: hidden;
  padding-top: 10px;
}

#smileyfaces>label:hover {
  cursor: pointer;
}

#smileyfaces input {
  display: none;
}

#dailyFeedback_form {
  display: flex;
  margin: 0 auto;
}
