html {
  height: 100%

}

#dfbbutton {
  justify-content: center;
}

textarea {
  resize: none;
  flex: 1;
  width: 90%;
  min-height: 20px;
  margin: 5px;
}

::-webkit-input-placeholder {
   text-align: center;
   vertical-align: middle;
   padding-top: 30px;
}

#dfbbox {
  display: none;
}

#answerOnSend {
	display: none;
}

#feedbacktext {
	font-size: 20px;
	vertical-align: middle;
	font-family: 'Pacifico', 'Open Sans', sans-serif;
}

.boxstyle {
	position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.dfbform {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inputcontainer > label {
  font-family: 'Pacifico', 'Open Sans', sans-serif;
}

.inputcontainer > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 15px;
}


.bottomsection {
  display: flex;
  flex-direction: column;
  margin: 8px;
  align-items: center;
}

.submitdfb {
  justify-content: center;
  font-size: 15px;
  margin: 8px;
  background-color: #D3D3D3;
  padding: 5px 20px 5px 20px;
}
