.wbild {
  height: 500px;
  width: auto;
  display: flex;
  margin: 0 auto;
}

.graphfcont {
  display: flex;
	justify-content: center;
}

#chartContainer1 {
  width: 45%;
  height: 300px;
  display: flex;
}

#chartContainer2 {
  width: 45%;
  height: 300px;
  display: flex;
}

.answerNav {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.showAnswer {
  display: flex;
	justify-content: space-around;
  margin: 20px;
	flex-wrap: wrap;
}

#q5 {
  display: none;
	flex-direction: column;
}

#q6 {
  display: none;
	flex-direction: column;
}

#q7 {
  display: none;
	flex-direction: column;
}

div.scroll {
  background-color: white;
  width: 500px;
  height: 400px;
  overflow: scroll;
  align-self: center;
  margin: 0 auto;
}

.weekAnswerList {
	padding-left: 20px;
}

.canvasjs-chart-credit {
	display: none;
}

.answerSection {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

/*-----ta bort vid merge-------*/
.marginbottom {
	margin-bottom: 15px;
}

.text-center {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
/*-------------------------*/

.answerSection > ol > li {
	border-bottom: 1px solid black;
	padding: 10px;
}

ol > span > li {
	border-bottom: 1px solid black;
	padding: 10px;
}

.bottomSection {
	margin-top: 20px;
}
