.editbuttons {
  border: none;
  cursor: pointer;
  color: white;
  padding: 8px 14px;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #ff5f52;
  text-transform: uppercase;
}

.formcontent {
  display: flex;
  font-family: 'Kalam';
  font-size: 18px;
}

.forms {
  margin: 0 auto;
  position: relative;
}

#close {
  display: none;
  background: #ff0000;
  color: white;
  border: 0;
  border-radius: 2px;
  position: absolute;
  top: 2px;
  right: 0;
}

#submit {
  border: none;
  cursor: pointer;
  color: white;
  padding: 8px 14px;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #ff5f52;
  text-transform: uppercase;
  display: none;
}

#form > input {
  display: none;
}

#form > textarea {
  resize: none;
  display: none;
  border-radius: 2px;
}
