.editbuttons {
  border: none;
  cursor: pointer;
  color: white;
  padding: 8px 14px;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #ff5f52;
  text-transform: uppercase;
}

.formcontent {
  display: flex;
  font-size: 18px;
  transition: height 0.5s;
  flex-direction: column;
  height: 0;
  overflow: hidden;
}

.forms {
  margin: 0 auto;
  position: relative;
}

#form {
  width: 350px;
  padding: 10px;
  display: none;
  background-color: #6A1B9A;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
#form>*{
  margin: 10px 0;
}

#close {
  display: none;
  background: #ff5f52;
  color: white;
  border: 0;
  border-radius: 2px;
  position: absolute;
  top: 1px;
  right: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  padding: 1px 5px 2px 6px;
}

#form > input {
  display: none;
  width: 100%;
}

#form>#submit {
  border: none;
  cursor: pointer;
  color: white;
  padding: 8px 14px;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #ff5f52;
  text-transform: uppercase;
  display: none;
  width: 85px;
}

form>p {
  font-size: 20px;
  color: white;
}

.textareaElement {
  min-height: 17px;
  border-bottom: 1px solid #9c27b0;
  max-width: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  outline:none;
  color: white;
}

.card-header {
    margin: 0;
}

#form-img-1 {
  display: none;
}
