main {
  display: flex;
  flex-direction: column;
}

.select {
  background: #68efad;
  border: 0;
  padding: 5px 5px 5px 1px;
  border: 2px;
  color: purple;
  outline: none;
}

h3 {
  align-self: center;
}

.table {
  margin: 0 auto;
  width: 56%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.kurser {
  width: 100%;
  height: 50px;
  background: black;
}

.uppgift {
  width: 100%;
  height: 50px;
  background: grey;
  display: flex;
}

/* ---------------- --- hover ----------------------------------  */

.LiTab a:hover {
  color: white;
  border-bottom: 3px solid rgba(255, 0, 0, 0.3);
}

/* ------------- end muted colors ---------------------------------- */

.betygsatt-1, .betygsatt-2 {
  height: 0px;
  overflow: hidden;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: space-around;
  transition-duration: 0.9s;
}

.LiTab {
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.49);
  font-size: 28px;
  list-style-type: none;
  display: inline-block;
}

.LiTab:first-child {
  color: white;
  border-bottom: 3px solid red;
}

.small {
  margin-top: 4px;
  width: 107%;
}

.betygsatt span {
  font-weight: bold;
}

.choose {
  position: relative;
  left: 5px;
  margin-top: 3px;
}

.files {
  height: auto;
  margin-bottom: 20px;
}

.files img {
  width: 25px;
}

.files a {
  color: black;
  text-decoration: none;
}

.grading {
  display: flex;
  flex-direction: column;
}

.button-betygsatt {
  position: absolute;
  right: 0px;
}

.row-1 {
  width: 100%;
  background-color: black;
  height: 25px;
  display: flex;
  flex-direction: row;
  color: white;
}

.row-2 {
  width: 100%;
  background-color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  color: black;
  align-items: center;
}

.text-1 {
  width: 204px;
  border-right: 2px solid grey;
  height: 100%;
}

.text-2 {
  width: 68px;
  border-right: 2px solid grey;
  height: 100%;
  padding-left: 5px;
}

.text-3 {
  flex-grow: 1;
  padding-left: 5px;
  height: 100%;
  min-width: 115px;
}

.text-3 p {
  width: 97%;
}

.orange {
  background-color: #fb6400;
  color: #fff;
}

.white-back {
  background-color: #fff;
  color: #0000;
}

.left-padding {
  position: relative;
  top: 11px;
}

.table p {
  position: relative;
  top: 11px;
  left: 5px;
}

.text-2.white-back>p {
  color: #000;
}

.active:hover {
  cursor: pointer;
}

.rest {
  border-top: 2px solid grey;
}

@media (max-width:906px) {
  .table {
    width: 98%;
  }
  .text-1 {
    width: 128px;
  }
}

@media (max-width: 600px) {
  .cardbutton {
    padding: 4px 7px;
  }
  .LiTab a {
    font-size: 22px;
  }
}
