.studentBox {
  /*display: flex;*/
  justify-content: center;
  text-align: left;
}

.group-card-body li {
  color: white;
  align-items: center;
}

.group-card-body {
  background-repeat: no-repeat;
  background-image: url(../img/bakbild1.jpg);
  padding-top: 50px;
  height: auto;
  background: pink;
}
.group-card{
  width: 250px;
  height: auto;
}

.group-card-body1 {
  background-repeat: no-repeat;
  background-image: url(../img/bakbild.jpg);
  padding-top: 50px;
}

.group-cardcontainer {
  width: 250px;
}

.group-cardcontainer>p {
  text-align: center;
  color: white;
}

.box {
  display: flex;
  justify-content: space-around;
}

.firstcolumn {
  width: 40%;
  display: flex;
}

.seconcolumn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}

.klasser {
  text-align: end;
}

#studentlist li {
  width: 230px;
  color: black;
  margin-left: 20px;
}
