.studentBox {
  justify-content: center;
  text-align: left;
}

/*"Släpp elev här funktion"*/
.drop-name {
  background-repeat: no-repeat;
  background-image: url(../img/bakbild1.jpg);
  padding-top: 50px;
  height: auto;
}

.box-group {
  display: flex;
  justify-content: space-around;
}

.firstcolumn {
  min-width: 350px;
  max-width: 500px;
  width: 100%;
  display: flex;
}

.seconcolumn {
  min-width: 350px;
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.klasser {
  text-align: end;
}

#studentlist li {
  width: 230px;
  color: black;
  margin-left: 20px;
}

#studentlist > li:nth-child(even){
  background-color: #fafafa;
}

#studentlist > li:nth-child(odd){
  background-color: #e8e8e8;
}

/*ALLTID HÖGRE PRIO ÄN "DROP-NAME"över elevlistan*/
#studentlist {
  background-repeat: no-repeat;
  background-image: url(../img/bakbild.jpg);
  padding-top: 50px;
}

.card {
  width: 350px;
  margin: 20px;
  padding: 0;
}

.card:first-child {
  min-height: 120px;
}

.card h3 {
  color: pink;
}

.card > div:nth-child(2) {
  min-height: 50px;
  width: 100%;
}

.purple {
  background: purple;
}

.dark-purple {
  background: #610061;
}

.firstcolumn>button{
  height: 20px;
}
.box-mobile {
  display: none;
}

@media (max-width: 600px){
  .box-group {
    display: none;
  }
  .box-mobile {
    display: block;
  }
}
