.burgericon {
  background-color: tomato;
  height: 3px;
  width: 25px;
  position: absolute;
  border-radius: 5px;
}
#burgerline1 {
  top: 25px;
  right: 20px;
}
#burgerline2 {
  top: 32px;
  right: 20px;
}
#burgerline3 {
  top: 39px;
  right: 20px;
}
#hamburgermenu {
  position: absolute;
  top: 50px;
  right: 0px;
  visibility: hidden;
  background-color: #111;
  padding: 50px 40px 50px 50px;
  border-radius: 10px;
}
#hamburgerbackground {
  position: absolute;
  top: 25px;
  right: 20px;
  height: 20px;
  width: 25px;
}
#hamburger {
  visibility: hidden;
}
@media (max-width: 800px) {
  #hamburger {
      visibility: visible;
  }
  }
  .nav2 {
    list-style-type: none;
    padding: 10px;
  }
  .nav2 > a {
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.3s ease;
  }
  .nav2 > a:hover {
    color: #ff6348;
}
.nav2 > button {
  background-color: #ff6348;
  border-radius: 20px;
  border-color: #ff6348;
  width: 85px;
  height: 20px;
  color: #fff;
  padding-bottom: 3px;
}