#loginbox {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#userimg {
  display: none;
  height: auto;
  width: 50px;
}

#pswimg {
  display: none;
  height: auto;
  width: 50px;
  display: flex;
}

.inputcontainer>label {
  display: flex;
  font-family: 'Pacifico', 'Open Sans', sans-serif;
}

@media only screen and (max-width: 500px) {
  .inputcontainer>label {
    display: none;
  }
  #userimg {
    src: url(octo.png);
    display: flex;
  }
  #pswimg {
    display: flex;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  max-height: 340px;
	max-width: 400px;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

#unameinput, #pswinput {
  text-align: center;
  width: 90%;
  padding: 10px;
  margin: 8px;
  display: flex;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.lgcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
	padding-bottom: 10px;
}

#loginbutton {
  font-size: 15px;
  margin: 8px;
  background-color: #D3D3D3;
  justify-content: center;
  padding: 5px 20px 5px 20px;
}

#errortxt {
  display: none;
  color: red;
  font-family: 'Open Sans', sans-serif;
  margin: 8px auto 12px auto;
  font-size: 12px;
  align-items: center;
  text-align: center;
}
