.news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}

.news {
  float: right;
  width: 80%;
}

.news>h2 {
margin-right: 40%;
float: right;
}

.namn {

}
