.news>h2 {
  margin-right: 40%;
  float: right;
}

.namn {}

#news_main {
  display: flex;
  justify-content: space-between;
}

#news_feed {
  width: 800px;
  height: auto;
}

#news_nav {
  width: 400px;
  height: 400px;
  border-left: 1px solid grey;
  padding-left: 10px;
}

#news_nav>ul {
  list-style-type: none;
}

#news_nav a {
  color: grey;
  text-decoration: none
}

#news_nav a:hover {
  text-decoration: underline;
}

p>span {
  color: grey;
}

#news_feed>button {
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  color: white;
  padding: 8px 14px;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #ff5f52;
  text-transform: uppercase;
}

#current_tab>a {
  color: #c62828;
}
