#pricecontent {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  flex-grow: 1;
}
#featurebox {
  width: 250px;
  height: 500px;
  padding: 16px;
  box-shadow: 0 2px 2px #888888;
  /* margin-top: 20px; */
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#pricebanner {
  background-color: #43a047;
  height: 40px;
  align-content: center;
}

#priceplan {
  font-weight: 500;
  text-transform: uppercase;  
  font-family: 'Roboto';
  font-size: 24px;
  color: #fff;
  padding: 5px 0;
}

#featurelist {
  flex-grow: 1;
  padding-top: 120px;
}

.offers {
  font-weight: 400;
  text-transform: uppercase;  
  font-family: 'Roboto';
  font-size: 18px;
  list-style-type: none;
  margin: 16px;
  text-align: left;
  padding: 5px;
}

.pricebox {
  width: 400px;
  box-shadow: 0 2px 2px #888888;
  /* margin-top: 20px; */
  background-color: #f9f9f9;
  transition: 1s;
}

.pricebox:hover {
  background-color: #e4e4e4;
}

.pricetitle {
  padding-top: 10px;
  border-top: solid 7px #43a047;
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: uppercase;  
  font-family: 'Roboto';
  font-size: 24px;
  color: #111;
  margin: 0 auto;
}

#pricebutton {
  min-width: 64px;
  height: 36px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #999;
  padding: 0 16px;
  border-radius: 2px;
  background-color: #ececec;
  border: solid 1px #999;
  margin-top: 25px;
  margin-right: 5px;
}

.priceitem {
  font-weight: 400;
  text-transform: uppercase;  
  font-family: 'Roboto';
  font-size: 18px;
  list-style-type: none;
  margin: 16px;
  text-align: center;
  padding: 5px;
}

.priceitem::before {
  content: '✔';
  float: left;
  border: solid 2px #43a047;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  padding: 5px;
  font-size: 14px;
  list-style-type: none;
  color: #43a047;
}

@media (max-width: 600px) {
 /*  .pricebox {
    display: flex;
    flex-direction: row; */
  }
}
