
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1280px;
  margin: 0 auto;
}

.box > h1 {
  display: flex;
  justify-content: center;
  flex: 100%;
}

.card {
	display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  width: auto;
  height: auto;
  margin: 20px;
  border-radius: 2px;
	flex-wrap: wrap;
  /*border: solid 0.5px grey;*/
}

.cardcontainer {
	display: flex;
	width: auto;
	height: auto;
	flex-direction: column;
	min-width: 250px;
	min-height: 180px;
	/*align-items: center;*/
}

.card-img-top {
	width: 50px;
	height: 50px;
}

.box > .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardcontainer > h2 {
  text-align: center;
  text-decoration: underline #777A68;
  margin: 10px;
}

.card-list {
	text-align: center;
  margin: 10px;
  list-style-position: inside;
	list-style: none;
}

.card-header {
	display: flex;
	justify-content: center;
	border: 1px solid pink;
	margin: 10px;

}

.card-body {
	width: auto;
	height: auto;
	margin: 10px;
	border: 1px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card-bottom {
	display: flex;
	height: auto;
	margin: 10px;
	border: 1px solid pink;
	bottom: 0;
	justify-content: center;
}

#dfbbutton {
  margin: 50px;
}

.expand {
	display: none;
	z-index: 100;
}

/*----------------------------BUTTON---------------------------------------*/
button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 8px 14px;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #2196F3;
}

button{
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
/*-----------------------Button-ends-----------------------------------*/
