#weekeval {
  max-width: 400px;
  width: 97%;
}

.textinput, .range {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1px;
  width: 100%;
}

.aroundrange {
  display: flex;
}

.aroundrange > p {
  font-size: 10px;
  padding-top: 6px;
}
