#weekeval > .range::before {
    content: "dåligt";
    }
#weekeval > .range::after {
    content: "bra";
}
#weekeval > input {
    max-width: 400px;
    width: 98%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1px;
}