.formholder {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 25px 0 25px;
}

#weekeval {
  max-width: 600px;
  width: 100%;
	margin: 20px;
}

.textinput, .range {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1px;
  width: 100%;
}

.aroundrange {
  display: flex;
}

.aroundrange > p {
  font-size: 10px;
  padding-top: 6px;
}

.formheadline {
	padding-bottom: 30px;
}
