#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.about {
  text-align: center;
  margin: inherit;
}

.flex1 {
  display: flex;
  flex-direction: row;
  /*flex-wrap: nowrap;*/
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}

.column {
  float: right;
  width: 50%;
}

.column>h2 {
  font-weight: bold;
}

.column>h3 {
  color: #43a047;
}
